.hljs {
}

.hljs-tag {
  color: var(--ifm-color-primary);
}

.hljs-name {
  color: var(--ifm-color-success);
}

.hljs-attr {
  color: var(--ifm-color-info);
}

.hljs-string {
  color: var(--ifm-color-gray-400);
}

.dark-bg {
  color: white;
  background-color: #1b1b1d;
}

.light-bg {
  color: black;
  background-color: white;
}